.friends {
  position: relative;

  padding: 8rem 0 10rem;

  background-color: $color-light-l;

  &__title {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 6rem;

    text-align: center;
  }
}

.slider {
  position: relative;
  margin-bottom: 3rem;

  &__wrap {
    @include flex($justify-content: space-between, $wrap: nowrap);
  }

  &__list-wrap {
    overflow: hidden;
    position: relative;
  }

  &__list {
    @include flex($align-items: stretch, $wrap: nowrap);
    column-gap: 90px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    transition: 1s;
  }

  &__item {
    position: relative;
    @include flex($display: none, $justify-content: space-between);
    min-width: 270px;
    min-height: 435px;
    width: 100%;
    column-gap: 4rem;
    text-align: center;

    animation: 1.4s linear;
  }

  &__animal {
    @include flex($direction: column, $justify-content: space-between);
    min-width: 270px;
    min-height: 435px;
    border-radius: 9px;
    margin-bottom: 3rem;
    text-align: center;

    background-color: $color-light-s;

    transition: all 1.2s linear;
    &:hover {
      background-color: $color-light-xl;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      cursor: pointer;
    }
  }

  &__description {
    padding: 0 35px 30px;
  }

  &__link {
    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
      cursor: pointer;
    }
  }

  &__img {
    margin-bottom: 3rem;
    & img {
      border-radius: 9px 9px 0px 0px;
    }
  }

  &__name {
    margin-bottom: 2.9rem;

    font-size: 2rem;
    font-family: $font-g;
    line-height: 1.2;
    letter-spacing: 0.12rem;
    color: $color-dark-l;
  }

  &__btn {
    position: relative;
    @include flex($justify-content: center);
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 50%;

    font-size: 2rem;
    font-family: $font-g;

    transition: all 0.2s linear;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
    &:active {
      border-color: $color-primary;
      background-color: $color-primary;
    }
    &--number {
      border-color: $color-primary;
      background-color: $color-primary;
      cursor: default;
      &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }

    &:disabled {
      border-color: $color-dark-s;

      color: $color-dark-s;

      background-color: transparent;

      cursor: default;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      font-size: 2rem;
      line-height: 1;

      transform: translate(-50%, -50%);
    }

    &--dToLeft::before {
      content: '<<';
    }
    &--toLeft::before {
      content: '<';
      width: 14px;
    }
    &--toRight::before {
      content: '>';
      width: 14px;
    }
    &--dToRight::before {
      content: '>>';
    }
  }
}

.btn__wrap {
  @include flex($justify-content: space-between);
  max-width: 340px;
  margin: 0 auto;
}

.popup {
  position: fixed;
  display: none;
  min-width: 900px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 150;
  &__wrap {
    position: relative;

    background-color: transparent;
  }

  &__close {
    position: absolute;
    right: -42px;
    top: -52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $color-primary;

    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary-light;
    }
    &--hover {
      background-color: $color-primary-light;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 6px);
      left: 50%;

      width: 2px;
      height: 15px;

      background-color: $color-dark-3xl;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &__card {
    @include flex(
      $justify-content: flex-start,
      $align-items: flex-start,
      $wrap: nowrap
    );
    column-gap: 0.9rem;
    border-radius: 9px;
    background-color: $color-light-s;
  }

  &__img {
    & img {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }
  }

  &__description {
    max-width: 391px;
    padding: 50px 20px 50px 21px;
  }

  &__title {
    margin-bottom: 1rem;

    @include h3;
    color: $color-dark-3xl;
  }

  &__subtitle {
    margin-bottom: 4rem;

    @include h4;
    color: $color-dark-3xl;
  }

  &__text {
    margin-bottom: 4rem;

    @include h5;
    color: $color-dark-3xl;
    line-height: 1.16;
  }

  &__list {
    padding-left: 0;
  }

  &__item {
    position: relative;

    margin-bottom: 10px;
    padding-left: 15px;

    @include h5;
    color: $color-dark-3xl;
    line-height: 1.2;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1px;

      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;

      background-color: $color-primary;

      transform: translateY(-50%);
    }
    &--bold {
      font-weight: 700;
    }
  }

  &--active {
    display: block;
  }
}

@media (max-width: 1279px) {
  .friends {
    padding-bottom: 7.6rem;
    &__title {
      margin-bottom: 3rem;
    }
  }

  .slider {
    margin-bottom: 1rem;
    &__list {
      column-gap: 4rem;
    }

    &__item {
      justify-content: center;
      column-gap: 4rem;
    }
  }

  .popup {
    min-width: 630px;
    &__close {
      right: -43px;
    }
    &__img {
      max-width: 350px;
    }
    &__description {
      max-width: 271px;
      padding: 10px 9px 31px 2px;
    }
    &__subtitle {
      margin-bottom: 2.1rem;
    }
    &__text {
      margin-bottom: 2rem;

      font-size: 13px;
      line-height: 1.1;
      letter-spacing: 0.076rem;
    }
    &__item {
      margin-bottom: 6px;
      padding-left: 14px;

      line-height: 1.16;
      &::before {
        left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .friends {
    padding-bottom: 3.4rem;
    padding-top: 4.2rem;
    &__title {
      margin-bottom: 4.2rem;
    }
  }

  .slider {
    &__wrap {
      flex-direction: column;
    }

    &__list {
      justify-content: center;
      padding-left: 0;
      max-width: 300px;
    }

    &__description {
      padding: 0 13px 30px;
    }
  }

  .popup {
    min-width: 240px;
    &__close {
      right: -30px;
      top: -51px;
    }
    &__img {
      display: none;
    }
    &__description {
      max-width: 240px;
      padding: 10px 10px 5px;
    }
    &__title,
    &__subtitle {
      text-align: center;
    }
    &__text {
      margin-bottom: 2.3rem;

      letter-spacing: 0.078rem;
    }
  }
}

.active,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -104%;
  }
}

@keyframes right {
  from {
    left: 104%;
  }
  to {
    left: 0;
  }
}
