.header {
  padding: 2.8rem 0 3.1rem;
  position: sticky;
  top: 0;

  background-color: $color-light-xl;

  z-index: 100;

  &__logo {
    max-width: 187px;
    padding-top: 2px;

    text-align: center;
  }
  &__nav {
    @include flex($justify-content: space-between, $wrap: nowrap);
  }
  &__title {
    margin-bottom: 10px;

    @include logo_title;
    color: $color-dark-l;
  }
  &__subtitle {
    @include logo_subtitle;
    color: $color-dark-3xl;
  }

  &__list {
    @include flex($justify-content: space-between, $wrap: nowrap);
    max-width: 443px;
    width: 100%;
    padding-bottom: 2px;
    & li:last-child a {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;

    display: block;
    margin-right: 10px;
    padding-right: 1px;

    @include paragraph-l;
    letter-spacing: 0.004rem;
    color: $color-dark-l;

    transition: all 0.2s linear;
    &:hover {
      color: $color-dark-3xl;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2.7px;

      background-color: $color-primary;

      transition: all 0.2s linear;
      transform: scaleX(0);
      visibility: hidden;
    }
    &--active {
      color: $color-dark-3xl;
    }
    &--active::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.promo {
  @include flex($justify-content: space-between);
  &__left {
    max-width: 460px;

    transform: translateY(-40px);
  }
  &__title {
    max-width: 310px;
    margin-bottom: 4.2rem;

    @include h2;
    color: $color-light-xl;
  }
  &__text {
    margin-bottom: 4rem;

    @include paragraph-l;
    color: $color-dark-s;
  }
  &__btn {
    max-width: 207px;

    background-color: $color-primary;

    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}

@media (max-width: 767px) {
  .overlay--active {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 90;
  }

  .header__burger {
    position: absolute;
    display: block;
    top: 5rem;
    right: 5rem;
  }

  .burger {
    width: 30px;
    height: 22px;

    transition: all 0.4s linear;
    z-index: 110;
    &__item {
      position: absolute;
      top: 50%;

      width: 30px;
      height: 2px;

      background-color: #000000;
      box-shadow: 0 9.1px 0 #000, 0 -9.1px 0 #000;

      transition: all 0.8s linear;
      transform: translateY(-50%);
    }
  }

  .burger--active {
    top: 5rem;
    right: 5rem;

    transition: all 0.4s linear;
    transform: rotate(90deg);
  }

  .burger--active .burger__item {
    background-color: $color-dark-s;
    box-shadow: 0 9.1px 0 $color-dark-s, 0 -9.1px 0 $color-dark-s;

    transition: all 0.8s linear;
    &:hover {
      background-color: $color-light-s;
      box-shadow: 0 9.1px 0 $color-light-s, 0 -9.1px 0 $color-light-s;
    }
  }

  .header__list {
    position: fixed;
    top: 0;
    right: 0;

    display: none;

    width: 278px;
    min-width: 300px;
    padding: 200px 10px 75px 70px;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background: url('../../assets/images/header/noise_transparent.png'),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  }

  .header__link {
    margin-bottom: 1rem;

    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -1px;
    color: $color-dark-s;

    &:hover {
      color: $color-light-s;
    }

    &--active {
      color: $color-light-s;
    }
  }

  .nav-show {
    animation: menu-show 0.6s linear;
  }

  @keyframes menu-show {
    from {
      transform: translateX(278px);
    }
    to {
      transform: translateX(0);
    }
  }
  .nav-close {
    animation: menu-close 0.6s linear;
  }

  @keyframes menu-close {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(278px);
    }
  }

  .header__list--active {
    display: flex;
    align-items: flex-start;
    z-index: 100;
  }
}
