.about {
  padding: 8rem 0 10rem;
  &__wrap {
    @include flex;
    column-gap: 120px;
  }
  &__img {
    max-width: 300px;
  }
  &__title {
    max-width: 370px;
    margin-bottom: 2.4rem;
  }
  &__text {
    margin-bottom: 2.5rem;

    @include paragraph-l;
  }
  &__right {
    max-width: 430px;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 10.1rem;
    &__right {
      max-width: 440px;
      margin-bottom: 8rem;
    }
    &__left {
      order: 1;
    }
  }
}

@media (max-width: 320px) {
  .about {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;

    &__right {
      margin-bottom: 4.1rem;
    }

    &__title {
      margin-bottom: 2.5rem;
    }

    &__text {
      margin-bottom: 2.2rem;
      padding: 0 15px;

      text-align: justify;
    }
    &__img {
      max-width: 260px;
    }
  }
}
