.donation {
  padding: 8rem 0 10.1rem;

  background-color: $color-light-l;

  &__wrap {
    @include flex;
  }
  &__left {
    margin-right: 30px;
  }
  &__right {
    max-width: 380px;
  }

  &__title {
    max-width: 300px;
    margin-bottom: 2rem;

    line-height: 1.32;
  }

  &__subtitle {
    margin-bottom: 2rem;

    @include h5;
  }
  &__tel {
    position: relative;

    display: block;
    max-width: 349px;
    margin-bottom: 2rem;
    padding: 10px 14px 10px 60px;
    border-radius: 9px;

    @include h4;

    background-color: $color-primary;
    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary-light;
      cursor: pointer;
    }
    &:before {
      content: '';
      position: absolute;
      left: 15px;
      top: 50%;

      width: 30px;
      height: 23px;

      background-repeat: no-repeat;
      background-image: url('../../assets/images/donation/credit-card.svg');

      transform: translateY(-50%);
    }
  }

  &__text {
    @include paragraph-s;
  }
}
