.header {
  padding-top: 6rem;
  background: url('../../assets/images/header/noise_transparent.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

  &__logo {
    max-width: 187px;

    text-align: center;
  }
  &__nav {
    @include flex($justify-content: space-between, $wrap: nowrap);
    margin-bottom: 6.1rem;
  }
  &__title {
    margin-bottom: 10px;

    font-size: 3.2rem;
    font-family: $font-g;
    line-height: 1.1;
    letter-spacing: 0.19rem;
    color: $color-primary;
  }
  &__subtitle {
    font-size: 1.3rem;
    line-height: 1.15;
    letter-spacing: 0.13rem;
    color: $color-light-xl;
  }

  & .header__list {
    @include flex($justify-content: space-between, $wrap: nowrap);
    max-width: 443px;
    width: 100%;
    padding-bottom: 2px;
    & li:last-child a {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;

    display: block;
    margin-right: 10px;

    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0.004rem;
    color: $color-dark-s;
    transition: all 0.2s linear;
    &:hover {
      color: $color-light-s;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2.7px;
      visibility: hidden;
      background-color: $color-primary;
      transition: all 0.2s linear;
      transform: scaleX(0);
    }
    &--active::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.promo {
  @include flex($justify-content: space-between);
  &__left {
    max-width: 460px;

    transform: translateY(-40px);
  }
  &__title {
    max-width: 310px;
    margin-bottom: 4.2rem;

    font-size: 4.4rem;
    font-family: $font-g;
    line-height: 1.3;
    color: $color-light-xl;
  }
  &__text {
    margin-bottom: 4rem;

    color: $color-dark-s;
  }
  &__btn {
    max-width: 207px;

    background-color: $color-primary;

    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}
