.help {
  padding: 8rem 0 10rem;
  &__title {
    max-width: 312px;
    margin: 0 auto;
    margin-bottom: 6rem;

    text-align: center;
  }
  &__ways {
    @include flex;
    margin: 0 auto;
  }
  &__list {
    @include flex($justify-content: space-between);
    width: 100%;
    justify-content: center;
    column-gap: 6rem;
    margin-bottom: 5.5rem;
  }

  &__item {
    position: relative;

    width: 166px;
    padding-top: 90px;

    @include h4;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;

      width: 60px;
      height: 60px;

      background-repeat: no-repeat;

      transform: translateX(-50%);
    }
    &--food {
      &::before {
        background-image: url('../../assets/images/help/icon-pet-food.svg');
      }
    }

    &--trans::before {
      background-image: url('../../assets/images/help/icon-transportation.svg');
    }
    &--toy::before {
      background-image: url('../../assets/images/help/icon-toys.svg');
    }
    &--bowl::before {
      background-image: url('../../assets/images/help/icon-bowls-and-cups.svg');
    }
    &--soap {
      &::before {
        background-image: url('../../assets/images/help/icon-shampoos.svg');
      }
    }
    &--vit::before {
      background-image: url('../../assets/images/help/icon-vitamins.svg');
    }
    &--med {
      &::before {
        background-image: url('../../assets/images/help/icon-medicines.svg');
      }
    }
    &--color {
      &::before {
        background-image: url('../../assets/images/help/icon-collars-leashes.svg');
      }
    }
    &--area::before {
      background-image: url('../../assets/images/help/icon-sleeping-area.svg');
    }
  }
}

@media (max-width: 768px) {
  .help {
    padding-bottom: 0;
    &__list {
      margin-bottom: 4.5rem;
      column-gap: 6.4rem;
    }
    &__item {
      margin-bottom: 5.5rem;
      transform: none;

      &--trans::before {
        left: 43%;
      }
    }
  }
}

@media (max-width: 320px) {
  .help {
    padding-top: 4.2rem;
    &__title {
      max-width: 270px;
      margin-bottom: 4.1rem;
    }
    &__list {
      padding-left: 0;
      margin-bottom: 1.3rem;

      column-gap: 2.9rem;
    }
    &__item {
      width: 130px;
      padding-top: 71px;
      margin-bottom: 2.9rem;

      font-size: 1.5rem;
      &::before {
        width: 50px;
        height: 50px;

        background-size: 50px 50px;
      }
      &--trans::before {
        left: 50%;
      }
      &--area {
        transform: translateX(-80px);
      }
    }
  }
}
