.help {
  padding: 8rem 0 3.5rem;
  &__title {
    max-width: 312px;
    margin: 0 auto;
    margin-bottom: 6rem;

    text-align: center;
  }

  &__ways {
    @include flex;
    margin: 0 auto;
  }

  &__list {
    @include flex;
    width: 100%;
    column-gap: 6.7rem;
    margin-bottom: 5.5rem;
    padding-left: 0;

    transform: translateX(-11px);
  }

  &__item {
    position: relative;

    width: 166px;
    margin-bottom: 5.5rem;
    padding-top: 90px;

    @include h4;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;

      width: 60px;
      height: 60px;

      background-repeat: no-repeat;

      transform: translateX(-50%);
    }

    &--food {
      transform: translateX(5px);
      &::before {
        background-image: url('../../assets/images/help/icon-pet-food.svg');
      }
    }

    &--trans {
      transform: translateX(8px);
      &::before {
        background-image: url('../../assets/images/help/icon-transportation.svg');
      }
    }

    &--toy::before {
      background-image: url('../../assets/images/help/icon-toys.svg');
    }

    &--bowl {
      transform: translateX(-6px);
      &::before {
        background-image: url('../../assets/images/help/icon-bowls-and-cups.svg');
      }
    }

    &--soap {
      transform: translateX(8px);
      &::before {
        background-image: url('../../assets/images/help/icon-shampoos.svg');
      }
    }

    &--vit,
    &--med,
    &--color,
    &--area {
      margin-bottom: 1rem;
    }

    &--vit {
      transform: translateX(-24px);
      &::before {
        background-image: url('../../assets/images/help/icon-vitamins.svg');
      }
    }

    &--med {
      transform: translateX(-42px);
      &::before {
        background-image: url('../../assets/images/help/icon-medicines.svg');
      }
    }

    &--color {
      transform: translateX(-22px);
      &::before {
        background-image: url('../../assets/images/help/icon-collars-leashes.svg');
      }
    }

    &--area {
      transform: translateX(19px);
      &::before {
        background-image: url('../../assets/images/help/icon-sleeping-area.svg');
      }
    }
  }
}

@media (max-width: 1279px) {
  .help {
    padding-bottom: 0;
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0;
      margin-bottom: 4.5rem;

      transform: none;
    }
    &__item {
      margin: 0 auto;
      margin-bottom: 5.5rem;
      transform: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .help {
    &__item {
      &--food,
      &--bowl,
      &--med {
        transform: translateX(6px);
      }

      &--toy,
      &--vit,
      &--area {
        transform: translateX(-6px);
      }
    }
  }
}

@media (max-width: 767px) {
  .help {
    padding-top: 4.2rem;
    &__title {
      max-width: 270px;
      margin-bottom: 4.2rem;
    }
    &__list {
      padding-left: 0;
      margin-bottom: 1.2rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
    }
    &__item {
      width: 130px;
      padding-top: 71px;
      margin-bottom: 2.9rem;

      font-size: 1.5rem;
      letter-spacing: 0.09rem;
      &::before {
        width: 50px;
        height: 50px;

        background-size: 50px 50px;
      }
      &--trans::before {
        left: 50%;
      }
    }
  }
}

@media (max-width: 320px) {
  .help {
    &__list {
      column-gap: 2.1rem;
    }
  }
}
